@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #E1EEBC, #328E6E); /* Gradient background */
    min-height: 100vh; /* Ensure body takes full screen height */
}

